html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.app-body {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  padding: 1rem;
}
#tabs{
  
  width: 340px;
  display: flex;
  
  justify-content: space-between;
}
#getRequestor, #createTicket{
  height: 30px;
  width: 150px;
  border-radius: 5px;
}
td,th{
  margin-top: 20px;
  padding: 10px;
  border: 1px solid silver;
  border-collapse: collapse;
  font-size: 15px;

}
#tableDiv{
  margin-top: 20px;
  border: 1px solid silver;
  border-collapse: collapse;
  display: none;
}
#ticketDiv{
  display: none;
}